body{
    background-color: #e0e0e0
}
h1{
    margin: 2% 1% 1% 1%;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.top-section{
    margin: 0 1% 1% 1%;
}
.chat-section, .user-section{
    background-color: #fff;
    display: inline;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    width: 79%;
}
.chat-section{
    width: 79%;
}
.messages-container{
    overflow: scroll;
    height: 319px;
}
.user-section{
    width: 20%;
}
.message-section{
    position: fixed;
    bottom: 0px;
    width: 98%;
    margin: 0 1% 1% 1%;
}
.message-section input{
    height: 45px;
    display: inline;
    width: 89%;
}
.message-section button{
    width: 10%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hide{
    visibility: hidden;
}
.error{
    color : red;
}
.form-control.username{
    display: inline;
    float: left;
    width: 20%;
    margin-right: 10px;
}
#username-form{
    margin: 1% 1% 1% 1%;
}
.username-button{
    float: left;
}
.join{
    color: green;
}
.leave{
    color: red;
}